{
	"polling_object_type": "available-slots-by-district", // Another option is "available-slots-by-pincode"
	"date": "15-05-2021",
	"pincode": "<your-pincode>",
	"poll_frequency_ms": 600, // unit is ms
	"age_limit": 45,
	"email_settings": {
		"username": "<your-email>",
		"password": "<your-email-password>", // You can also create an app password  refer this article https://devanswers.co/create-application-specific-password-gmail/#:~:text=An%20App%20Password%20is%20a,access%20to%20your%20Google%20Account.
		"recipient_emails": "<comma-separated-list-of-emailids-recipients"
	},
	"beneficiaries": ["<your-beneficiary-id>"],
	"slot": "FORENOON",
	"district_id": "<district-id>",
	"mobile_number": <your-rmn>,
	"secret": "<your-secret-code>" // Find this from browser console when you make & verify OTP request
}